<!DOCTYPE html><!--suppress ALL-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
</head>
<!--BASE STYLE CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/style.css}" type="text/css" media="screen"/>
<!--PRODUCTION PHOTO CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/productionPhoto.css}" type="text/css" media="screen"/>
<!--PRINT CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/print.css}" type="text/css" media="print"/>
<body>
<div th:replace="blog/amaze/header::header-fragment"></div>

<div class="container" style="position:relative;margin-top: 2rem;">
    <div id="wrapper">
        <!--INTRODUCE NAME-->
        <h2 id="titleName" class="sectionHead">联系方式</h2>
        <!--BASE INFORMATION-->
        <div id="bio">
            <h2>数码爱好者/应用架构师</h2>
            <!--BASE INFORMATION - PERSONAL INFORMATION-->
            <div class="wechat-img"><img th:src="@{blog/amaze/images/img_1.png}"></div>
            <ul class="concat">
                <li>昵称: 烈焰之雨</li>
                <li>微信: dddpeter1234</li>
                <li>邮箱: dddpeter@126.com</li>
                <li><hr/></li>
                <li>1. 211高校“计算机科学与技术”本科学历，近10年保险行业经验。                                                                   </li>
                <li>2. Java基础好、多线程、集合等基础框架，熟悉分布式系统的设计和应用。深度掌握分布式框架。
                <li>3. 熟悉Redis,MongoDB，Nacos，ELK，Spring Cloud, Nginx以及分布式系统的设计和应用，熟悉分布式、缓存、消息、负载均衡等机制的实现。</li>
                <li>4. 参与过保险公司分布式云核心架构设计及技术攻关，会设计CI/CD发布流水线，容器技术掌握良好，有Kubernets及Rancher生产实践经验。</li>
                <li>5. 熟练使用CSS、HTML、jQuery、Vue、React等JavaScript框架等Web前端开发技术。</li>
                <li>6. 熟悉和掌握主流的数据库和中间件件技术，如Oracle，MySQL、Redis、Memcached、Kafka、RabbitMQ等。</li>
                <li>7. linux运维技术能力优秀，具备TB级别数据库管理能力。</li>
                <li>8. 具有很强的分析问题和解决问题的能力，对解决具有挑战性问题充满激情，具备解决复杂系统问题的能力。</li>
                <li>9. 云战略，中台，敏捷开发及DevOps拥护者。</li>
            </ul>
            <!--END PERSONAL INFORMATION-->
        </div>
        <!--END BASE INFORMATION-->

        <div class="clear"></div>

        <!--SKILLS TITLE-->
        <h2 id="tools" class="sectionHead">工作技能</h2>
        <!--SKILLS-->
        <ul id="skills">
            <!--Notice: the class names indicate the % of your skills. i.e. s70 = 70%, s40 = 40% etc. -->
            <li id="skill1" class="s100"><span>Java</span></li>
            <li id="skill5" class="s90"><span>CI/CD</span></li>
            <li id="skill5" class="s70"><span>Kubernets</span></li>
            <li id="skill2" class="s80"><span>Spring</span></li>
            <li id="skill3" class="s75"><span>Spring Cloud</span></li>
            <li id="skill4" class="s60"><span>HTML + CSS</span></li>
            <li id="skill6" class="s60"><span>MySQL</span></li>
            <li id="skill7" class="s60"><span>Nginx</span></li>
            <li id="skill8" class="s60"><span>Redis</span></li>
            <li id="skill9" class="s60"><span>Vue</span></li>
        </ul>
        <!--END SKILLS-->

        <div class="clear"></div>

        <!--EXPERIENCE TITLE-->
        <h2 id="clock" class="sectionHead">工作／实习经历</h2>
        <!--EXPERIENCE-->
        <ul id="jobs">
            <li class="first-li">
                <div class="details">
                    <h3 class="resume-item-title">横琴人寿保险有限公司</h3>
                    <h4 class="resume-item-title-2">架构师</h4>
                    <h5 class="resume-item-date">2018.04 - 至今</h5>
                </div>
                <p>
                    1. 负责公司项目架构设计，系统改进，性能优化<br/>
                    2. 推动公司技术改革升级
                </p>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">中青信投控股有限责任公司</h3>
                    <h4 class="resume-item-title-2">前端开发/DBA</h4>
                    <h5  class="resume-item-date">2016.10 - 2018.4</h5>
                </div>
                <p>前端开发人员指导培训，前端开发，数据库管理员</p>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">阳光人寿保险股份有限公司</h3>
                    <h4 class="resume-item-title-2">前端组长</h4>
                    <h5  class="resume-item-date">2015.11 - 2016.10</h5>
                </div>
                <p>1. 参与公司各项目中的Web前端功能设计、开发；
                    2. 使用Web前端技术，创建用户友好、符合标准、跨平台及跨浏览器的应用，促进产品易用性改进和界面技术优化；
                    3. 与后端开发人员配合，高质量完成网站前端开发工作；
                    4. Web前沿技术洞察、跟进。
                    5. 外包团队管理
            </li>
            <li class="last-li">
                <div class="details">
                    <h3 class="resume-item-title">中国人民人寿保险股份有限公司</h3>
                    <h4  class="resume-item-title-2">DBA</h4>
                    <h5  class="resume-item-date">2009.11 - 2015.11</h5>
                </div>
                <p>1、安全监控
                    2、数据库备份管理
                    3、数据库性能优化
                    4、权限分配与管理
                    5、数据库技术支持
                    6、中间件及操作系统支持
                    7、新系统架构研究</p>
            </li>
        </ul>
        <!--END EXPERIENCE-->

        <div class="clear"></div>

        <!--EDUCATION TITLE-->
        <h2 id="learn" class="sectionHead">教育经历</h2>
        <!--EDUCATION-->
        <ul id="schools">
            <li class="radius-li">
                <div class="details">
                    <h3 class="resume-item-title">北京科技大学 - 计算机科学与技术</h3>
                    <h4  class="resume-item-title-2">学位头衔 - 学士</h4>
                    <h5  class="resume-item-date">2006 - 2010</h5>
                </div>
                <p>主要学习数据结构，离散数学，计算机组成原理，数据库原理，网络原理等计算机相关技术。</p>
            </li>
        </ul>
        <!--END EDUCATION-->

        <div class="clear"></div>

        <!--END HONORS / AWARDS-->

        <!--AS SEEN ON TITLE-->
        <h2 id="eye" class="sectionHead">项目经历</h2>
        <!--PROJECT-->
        <ul id="project">
            <li class="first-li">
                <div class="details">
                    <h3 class="resume-item-title">Ishare中台项目</h3>
                    <h4  class="resume-item-title-2">VUE/Spring Cloud/Nacos</h4>
                    <h5  class="resume-item-date">2019.10 - 2021.3</h5>
                </div>
                <p>这个项目主要是整合保险公司互联网通用服务，减少不同项目功能重复建设，打通竖井项目，目前已经上线商务智能中心，收付中心，Spring Cloud建设微服务，项目中主要承担项目组长，架构设计角色</p>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">新一代分布式寿险核心系统</h3>
                    <h4  class="resume-item-title-2">ElementUI/Spring Cloud/Mybatis</h4>
                    <h5  class="resume-item-date">2018.4 - 至今</h5>
                </div>
                <p>这个项目是将寿险公司传统核心，改造为云原生，分布式，微服务架构，前后端分离，可以快速需求迭代的新一代核心系统，目前有很多保险公司正在进行研发，项目中主要承担架构设计，疑难问题解决，CI/CD流程设计，Devops实践</p>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">阳光生活圈</h3>
                    <h4  class="resume-item-title-2">Angular.js/Spring/Mybatis</h4>
                    <h5  class="resume-item-date">2015.10 - 2016.11</h5>
                </div>
                <p>这个项目是综合电商平台系统，我在项目中主要承担前端开发小组长角色，主要使用Angular.js,gulp,h5</p>
            </li>
            <li class="last-li">
                <div class="details">
                    <h3 class="resume-item-title">银保通</h3>
                    <h4  class="resume-item-title-2">JSP/Oracle/J2EE/XSLT</h4>
                    <h5  class="resume-item-date">2010.7-2012.4</h5>
                </div>
                <p>1.银保通，一种用于在银行和保险公司之间进行实时联机交易的应用系统。<br/>
                    2.银保通系统按照功能划分，包括通讯模块，数据处理模块，交易处理模块和日志记录模块。<br/>
                    3.系统可以支持几乎所有不同银行的交易报文，可扩展性良好。<br/>
                    </p>
            </li>
        </ul>
        <!--END PROJECT-->
        <div class="clear"></div>

    </div>

</div>
<div style="text-align: center;position: fixed; bottom: 20px;right: 8px">
    <button class="am-btn am-btn-success" onclick="exportReportTemplet()">
        <i class="am-icon-cloud-download"></i>下载该简历
    </button>
</div>
</div>
<div th:replace="blog/amaze/to-top::to-top-fragment"></div>
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<!--PROJECT PHOTO JS-->
<script th:src="@{/blog/amaze/js/projectPhoto.js}"></script>
<!--BACK POSITION JS-->
<script th:src="@{/blog/amaze/js/backPosition.js}"></script>
<!--CUSTOM JS-->
<script th:src="@{/blog/amaze/js/custom.js}"></script>
<!--生成PDF-->
<script th:src="@{/blog/amaze/js/generatePDF.js}"></script>
<!-- 背景动画 -->
<script type="text/javascript" color="26,170,85" opacity='0.7' zIndex="-2" count="200"
        src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script th:src="@{/blog/amaze/js/html2canvas.min.js}"></script>
<script th:src="@{/blog/amaze/js/jspdf.min.js}"></script>


</html>