<!DOCTYPE html><!--suppress ALL-->
<html  lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
</head>
<!--BASE STYLE CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/style.css}" type="text/css" media="screen"/>
<!--PRODUCTION PHOTO CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/productionPhoto.css}" type="text/css" media="screen"/>
<!--PRINT CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/print.css}" type="text/css" media="print"/>
<style>
    .item-details{
        font-size: 13px;
    }
    .item-details>li{
        margin-bottom: 5px!important;
    }
    .sectionHead{
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important;
    }
</style>
<body>
<div th:replace="blog/amaze/header::header-fragment"></div>

<div class="container" style="position:relative;margin-top: 2rem;">
    <div id="wrapper" style="margin: 0">
        <!--INTRODUCE NAME-->
        <h2 id="titleName" class="sectionHead">联系方式</h2>
        <!--BASE INFORMATION-->
        <div id="bio">
            <h2>数码爱好者/应用架构师</h2>
            <!--BASE INFORMATION - PERSONAL INFORMATION-->
            <div class="wechat-img"><img th:src="@{blog/amaze/images/img_1.png}"></div>
            <ul class="concat">
                <li>昵称: 烈焰之雨</li>
                <li>微信: dddpeter1234</li>
                <li>邮箱: dddpeter@126.com</li>
                <li><hr/></li>
                <li>1. 211院校毕业，10年保险行业信息部门经验。 </li>
                <li>2. 熟悉Spring Cloud, Nginx以及分布式系统的设计和应用，掌握主流的数据库和中间件件技术。</li>
                <li>3. 参与过保险公司分布式云核心架构设计及技术攻关。</li>
                <li>4. 精通项目持续集成方法，掌握k8s使用，有生产实践经验。</li>
                <li>5. 熟练使用CSS、HTML、jQuery、Vue、React等JavaScript框架等Web前端开发技术。</li>
                <li>6. 熟练使用Vue，webpack等前端开发技术。</li>
                <li>7. 具有很强的分析和解决问题的能力。</li>
                <li>8. 云战略，中台，敏捷开发及DevOps拥护者。</li>
            </ul>
            <!--END PERSONAL INFORMATION-->
        </div>
        <!--END BASE INFORMATION-->

        <div class="clear"></div>

        <!--SKILLS TITLE-->
        <h2 id="tools" class="sectionHead">工作技能</h2>
        <!--SKILLS-->
        <ul id="skills">
            <!--Notice: the class names indicate the % of your skills. i.e. s70 = 70%, s40 = 40% etc. -->
            <li id="skill1" class="s100"><span>Java</span></li>
            <li id="skill5" class="s90"><span>CI/CD</span></li>
            <li id="skill5" class="s70"><span>Kubernets</span></li>
            <li id="skill2" class="s80"><span>Spring</span></li>
            <li id="skill3" class="s75"><span>Spring Cloud</span></li>
            <li id="skill9" class="s75"><span>Vue</span></li>
            <li id="skill4" class="s75"><span>HTML + CSS</span></li>
            <li id="skill6" class="s60"><span>MySQL</span></li>
            <li id="skill7" class="s60"><span>消息中间件</span></li>
            <li id="skill8" class="s60"><span>Redis</span></li>

        </ul>
        <!--END SKILLS-->

        <div class="clear"></div>

        <!--EXPERIENCE TITLE-->
        <h2 id="clock" class="sectionHead">工作／实习经历</h2>
        <!--EXPERIENCE-->
        <ul id="jobs">
            <li class="first-li">
                <div class="details">
                    <h3 class="resume-item-title">中邮人寿保险有限公司</h3>
                    <h4 class="resume-item-title-2">技术经理</h4>
                    <h5 class="resume-item-date">2022.02- 2022.04</h5>
                </div>
                <ol class="item-details">
                    <li>负责特性部署、自动化、集成、本地服务器架构和维护。  </li>
                    <li>负责研究适合公司的自研建设方案，并给出实施路线。 </li>
                    <li>负责 DevOps 敏捷实施，持续集成，持续发布方案落地。 </li>
                    <li>负责自营平台业务系统运营支持工作。</li>
                </ol>
            </li>
            <li class="first-li">
                <div class="details">
                    <h3 class="resume-item-title">横琴人寿保险有限公司</h3>
                    <h4 class="resume-item-title-2">架构师</h4>
                    <h5 class="resume-item-date">2018.04 - 2022.02</h5>
                </div>
               <ol class="item-details">
                   <li>负责公司系统的架构设计，软件技术研究，样板代码编写和技术攻关工作。</li>
                   <li>与各项目开发组进行技术交流，指导日常开发工作 </li>
                   <li>新核心测试和生产环境可用性运维分析，运维问题解决，配置管理工作 </li>
                   <li>中台项目系统架构设计，项目管理，关键代码编写，代码 Review ，需求开发计划编写，任务分配 </li>
                   <li>DevOps 开发模式研究实践，容器，K8S技术学习及实践 </li>
                   <li>主要使用技术 Spring Cloud，Nacos，Redis，RDS，MongoDB，Vue，Webpack</li>
                   <li>业绩：新一代分布式核心系统在行业率先搭建完成；业务中台自研项目落地成功</li>
               </ol>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">中青信投控股有限责任公司</h3>
                    <h4 class="resume-item-title-2">全栈开发工程师</h4>
                    <h5  class="resume-item-date">2016.10 - 2018.4</h5>
                </div>
                <ol class="item-details">
                    <li>与开发团队一起参与集团和子公司软件项目开发 </li>
                    <li>前后端开发技术研究及实践，开发人员培训，技术难点解决</li>
                    <li>协助架构师进行架构规划和设计落地 </li>
                    <li>负责数据库管理，数据库使用规范制定，应用系统可用性运维 </li>
                    <li>主要成就：学到了很多架构，开发，前端方面的知识，多岗位胜任能力</li>
                    <li>主要技术：Spring Boot，Vue，Node.js，es6 </li>
                    <li>业绩: 应届生培训获得较好的效果</li>
                </ol>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">阳光人寿保险股份有限公司</h3>
                    <h4 class="resume-item-title-2">Java</h4>
                    <h5  class="resume-item-date">2015.11 - 2016.10</h5>
                </div>
                <ol class="item-details">
                    <li>负责公司阳光好生活项目需求开发，前端团队任务分配                </li>
                    <li>开发人员技术支持，开发资源协调以及项目推动工作 </li>
                    <li>项目组数据库和服务器运维工作</li>
                    <li>主要成就：前端及后端开发能提升</li>
                    <li>使用技术：SpringMVC，JSP，Angular.js，gulp，grunt，css3，H5</li>
                </ol>
            </li>
            <li class="last-li">
                <div class="details">
                    <h3 class="resume-item-title">中国人民人寿保险股份有限公司</h3>
                    <h4  class="resume-item-title-2">DBA</h4>
                    <h5  class="resume-item-date">2009.11 - 2015.11</h5>
                </div>
                <ol class="item-details">
                    <li>初期负责银保通系统接开发，系统运维，银保通系统下属机构支持工作，主要技术 Java ，JSP，XSLT，Socket等。 </li>
                    <li>Oracle 数据库新环境安装配置，数据库监控，DataGurd 配置，备份管理，存储管理，权限分配，SQL 优化工 作。 </li>
                    <li>核心业务系统各版本发布上线工作。 4. WebLogic、MySQL 数据库、版本管理、负载均衡等软件安装配置和操作系统优化工作。</li>
                    <li>IT 技术研究应用工作。（Zabbix， MySQL Cluster，MySQL 单软件多实例，Weblogic 集群，elasticsearch） </li>
                    <li>业绩: 获得OCP数据库认证证书，参与多年核心系统数据库和中间件技术问题解决</li>
                </ol>
            </li>
        </ul>
        <!--END EXPERIENCE-->

        <div class="clear"></div>

        <!--EDUCATION TITLE-->
        <h2 id="learn" class="sectionHead">教育经历</h2>
        <!--EDUCATION-->
        <ul id="schools">
            <li class="radius-li">
                <div class="details">
                    <h3 class="resume-item-title">北京科技大学 - 计算机科学与技术</h3>
                    <h4  class="resume-item-title-2">学位头衔 - 学士</h4>
                    <h5  class="resume-item-date">2006 - 2010</h5>
                </div>
                <p>主要学习数据结构，离散数学，计算机组成原理，数据库原理，网络原理等计算机相关技术。</p>
            </li>
        </ul>
        <!--END EDUCATION-->

        <div class="clear"></div>

        <!--END HONORS / AWARDS-->

        <!--AS SEEN ON TITLE-->
        <h2 id="eye" class="sectionHead">项目经历</h2>
        <!--PROJECT-->
        <ul id="project">
            <li class="first-li">
                <div class="details">
                    <h3 class="resume-item-title">ISHARE中台项目</h3>
                    <h4  class="resume-item-title-2">VUE/Spring Cloud/Nacos</h4>
                    <h5  class="resume-item-date">2019.10 - 2021.3</h5>
                </div>
                <ol class="item-details">
                    <li>这个项目主要是整合保险公司互联网通用服务，减少不同项目功能重复建设，打通竖井项目</li>
                    <li>目前已经上线商务智能中心，收付中心，Spring Cloud建设微服务</li>
                    <li>项目中主要承担项目组长，架构师角色</li>
                </ol>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">新一代分布式寿险核心系统</h3>
                    <h4  class="resume-item-title-2">ElementUI/Spring Cloud/Mybatis</h4>
                    <h5  class="resume-item-date">2018.4 - 至今</h5>
                </div>
                <ol class="item-details">
                    <li>这个项目是将寿险公司传统核心，改造为前后端分离，云原生，分布式微服务架构，包括投保，保全，理赔，财务，保单等20多个微服务。</li>
                    <li>目前有很多保险公司正在进行研发，可以快速需求迭代的新一代核心系统</li>
                    <li>项目中主要承担新核心系统架构设计；微服务规划，代码译审，技术攻关；DevOps实施，版本管 理，CI/CD发布流程设计，开发人员支持；</li>
                </ol>
            </li>
            <li>
                <div class="details">
                    <h3 class="resume-item-title">阳光生活圈</h3>
                    <h4  class="resume-item-title-2">Angular.js/Spring/Mybatis</h4>
                    <h5  class="resume-item-date">2015.10 - 2016.11</h5>
                </div>
                <ol class="item-details">
                    <li>这个项目是综合电商平台系统，我在项目中主要承担前端开发小组长角色</li>
                    <li>技术主要使用Angular.js,gulp,h5</li>
                    <li>系统主要分三块：保险商城，理财产品商城，非金融实物商城</li>
                </ol>
            </li>
            <li class="first-li">
                <div class="details">
                    <h3 class="resume-item-title">电话中心及电销系统项目</h3>
                    <h4  class="resume-item-title-2">C#/XML/Oracle/SQL</h4>
                    <h5  class="resume-item-date">2012.04 - 2013.12</h5>
                </div>
                <ol class="item-details">
                    <li>该项目由保险电话行销，客户呼入，客服呼出，客户回访等部分组成。</li>
                    <li>参与过人保寿郑州电话及电销中心建设</li>
                    <li>项目中主要负责开发团队管理，技术方案设计</li>
                    <li>业绩： 将原有系统回访时数据抽取不可靠的问题，通过修改系统交互，系统结构调整改变为比较可靠的方式</li>
                </ol>
            </li>
            <li class="last-li">
                <div class="details">
                    <h3 class="resume-item-title">银保通</h3>
                    <h4  class="resume-item-title-2">JSP/Oracle/J2EE/XSLT/Web Service</h4>
                    <h5  class="resume-item-date">2010.7-2012.4</h5>
                </div>
                <ol class="item-details">
                    <li>银保通，一种用于在银行和保险公司之间进行实时联机交易的应用系统。</li>
                    <li>银保通系统按照功能划分，包括通讯模块，数据处理模块，交易处理模块和日志记录模块。</li>
                    <li>系统可以支持几乎所有不同银行的交易报文，可扩展性良好。</li>
                    <li>业绩： 曾对接过5家以上商业银行。</li>
                </ol>
            </li>
        </ul>
        <!--END PROJECT-->
        <div class="clear"></div>

    </div>

</div>
<div style="text-align: center;position: fixed; bottom: 20px;right: 8px">
    <button class="am-btn am-btn-success" onclick="exportReportTemplet()">
        <i class="am-icon-cloud-download"></i>下载该简历
    </button>
</div>
</div>
<div th:replace="blog/amaze/to-top::to-top-fragment"></div>
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<!--PROJECT PHOTO JS-->
<script th:src="@{/blog/amaze/js/projectPhoto.js}"></script>
<!--BACK POSITION JS-->
<script th:src="@{/blog/amaze/js/backPosition.js}"></script>
<!--CUSTOM JS-->
<script th:src="@{/blog/amaze/js/custom.js}"></script>
<!--生成PDF-->
<script th:src="@{/blog/amaze/js/generatePDF.js}"></script>
<!-- 背景动画 -->
<script type="text/javascript" color="26,170,85" opacity='0.7' zIndex="-2" count="200"
        src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script th:src="@{/blog/amaze/js/html2canvas.min.js}"></script>
<script th:src="@{/blog/amaze/js/jspdf.min.js}"></script>

</html>