<!DOCTYPE html><!--suppress ALL-->
<html  lang="zh-CN"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="blog/amaze/header::head-fragment">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
</head>
<!--BASE STYLE CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/style.css}" type="text/css" media="screen"/>
<!--PRODUCTION PHOTO CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/productionPhoto.css}" type="text/css" media="screen"/>
<!--PRINT CSS-->
<link rel="stylesheet" th:href="@{blog/amaze/css/print.css}" type="text/css" media="print"/>
<style>
    .item-details{
        font-size: 13px;
    }
    .item-details>li{
        margin-bottom: 5px!important;
    }
    .sectionHead{
        margin-top: 1.5rem!important;
        margin-bottom: 1.5rem!important;
    }
</style>
<body>
<div th:replace="blog/amaze/header::header-fragment"></div>

<div class="container" style="position:relative;margin-top: 2rem;">
    <div id="wrapper" style="margin: 0">
        <!--INTRODUCE NAME-->
        <h2 id="titleName" class="sectionHead">联系方式</h2>
        <!--BASE INFORMATION-->
        <div id="bio">
            <h2>数码爱好者/应用架构师</h2>
            <!--BASE INFORMATION - PERSONAL INFORMATION-->
            <div class="wechat-img"><img th:src="@{blog/amaze/images/img_1.png}"></div>
            <ul class="concat">
                <li>昵称: 烈焰之雨</li>
                <li>微信: dddpeter1234</li>
                <li>邮箱: dddpeter@126.com</li>
                <li><hr/></li>
                <li>1. 211院校毕业，10年保险行业信息部门经验。 </li>
                <li>2. 熟悉Spring Cloud, Nginx以及分布式系统的设计和应用，掌握主流的数据库和中间件件技术。</li>
                <li>3. 参与过保险公司分布式云核心架构设计及技术攻关。</li>
                <li>4. 精通项目持续集成方法，掌握k8s使用，有生产实践经验。</li>
                <li>5. 熟练使用CSS、HTML、jQuery、Vue、React等JavaScript框架等Web前端开发技术。</li>
                <li>6. 熟练使用Vue，webpack等前端开发技术。</li>
                <li>7. 具有很强的分析和解决问题的能力。</li>
                <li>8. 云战略，中台，敏捷开发及DevOps拥护者。</li>
            </ul>
            <!--END PERSONAL INFORMATION-->
        </div>
        <!--END BASE INFORMATION-->

        <div class="clear"></div>

        <!--SKILLS TITLE-->
        <h2 id="tools" class="sectionHead">工作技能</h2>
        <!--SKILLS-->
        <ul id="skills">
            <!--Notice: the class names indicate the % of your skills. i.e. s70 = 70%, s40 = 40% etc. -->
            <li id="skill1" class="s100"><span>Java</span></li>
            <li id="skill5" class="s90"><span>CI/CD</span></li>
            <li id="skill5" class="s70"><span>Kubernets</span></li>
            <li id="skill2" class="s80"><span>Spring</span></li>
            <li id="skill3" class="s75"><span>Spring Cloud</span></li>
            <li id="skill9" class="s75"><span>Vue</span></li>
            <li id="skill4" class="s75"><span>HTML + CSS</span></li>
            <li id="skill6" class="s60"><span>MySQL</span></li>
            <li id="skill7" class="s60"><span>消息中间件</span></li>
            <li id="skill8" class="s60"><span>Redis</span></li>

        </ul>
        <!--END SKILLS-->
        <div class="clear"></div>

        <div class="clear"></div>

        <!--EDUCATION TITLE-->
        <h2 id="learn" class="sectionHead">教育经历</h2>
        <!--EDUCATION-->
        <ul id="schools">
            <li class="radius-li">
                <div class="details">
                    <h3 class="resume-item-title">北京科技大学 - 计算机科学与技术</h3>
                    <h4  class="resume-item-title-2">学位头衔 - 学士</h4>
                    <h5  class="resume-item-date">2006 - 2010</h5>
                </div>
                <p>主要学习数据结构，离散数学，计算机组成原理，数据库原理，网络原理等计算机相关技术。</p>
            </li>
        </ul>
        <!--END EDUCATION-->

        <div class="clear"></div>

        <!--END HONORS / AWARDS-->

        <div class="clear"></div>

    </div>

</div>
<!--<div style="text-align: center;position: fixed; bottom: 20px;right: 8px">
    <button class="am-btn am-btn-success" onclick="exportReportTemplet()">
        <i class="am-icon-cloud-download"></i>下载该简历
    </button>
</div>-->
</div>
<div th:replace="blog/amaze/to-top::to-top-fragment"></div>
<footer th:replace="blog/amaze/footer::footer-fragment"></footer>
</body>
<!--PROJECT PHOTO JS-->
<script th:src="@{/blog/amaze/js/projectPhoto.js}"></script>
<!--BACK POSITION JS-->
<script th:src="@{/blog/amaze/js/backPosition.js}"></script>
<!--CUSTOM JS-->
<script th:src="@{/blog/amaze/js/custom.js}"></script>
<!--生成PDF-->
<script th:src="@{/blog/amaze/js/generatePDF.js}"></script>
<!-- 背景动画 -->
<script type="text/javascript" color="26,170,85" opacity='0.7' zIndex="-2" count="200"
        src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script th:src="@{/blog/amaze/js/html2canvas.min.js}"></script>
<script th:src="@{/blog/amaze/js/jspdf.min.js}"></script>

</html>