<!DOCTYPE html><!--suppress ALL-->
<html  lang="zh-CN"  xmlns:th="http://www.thymeleaf.org" class="am-topbar am-with-topbar-fixed-bottom">
<footer class="blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center" th:text="${configurations.get('footerCopyRight')}">© 2020 AllMobilize, Inc. Licensed
        under Apache license.
    </div>
    <div class="blog-text-center">
        <a th:href="${configurations.get('footerPoweredBy')}">Powered By
            <th:block th:text="${configurations.get('yourName')}"></th:block>
        </a>
    </div>
    <div class="blog-text-center">
        <a target="_blank" href="http://www.beian.miit.gov.cn/" th:text="${configurations.get('footerICP')}">冀xxxxxx</a>
    </div>
</footer>
</html>
